*{
    box-sizing:border-box;
}


body{
    margin:0px;
    
}
.toolbar{
    
    height: 12vh;
    background-color:#2d3436;
    display: flex;
    align-items:center;
    padding-left: 5rem;
}

.filter-container{
    height:60%;
    /* border: 1px solid red; */
    width:14rem;
    margin-right:4rem;
    margin-left:10rem;
    border-radius: 0.2rem;
    background-color: #6d7c7e;
    display:flex;
    
    
}
.filter{
    height:100%;
    width:25%;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}

.filter_color{
    height:40%;
    width:40%;
    border-radius: 0.2rem;
}

.pink{
    background-color: pink;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.black{
    background-color: black;
}
.action-container{
    height:60%;
    /* border: 1px solid red; */
    width:8rem;
    background-color: #6d7c7e;
    border-radius: 0.2rem;
    display: flex;
    border-radius: 0.2rem solid;

}

.icon-container{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.fas{
    font-size: 1.5rem;
}

.main-container{
    height: 85vh;
}