*{
    box-sizing:border-box;
}


body{
    margin:0px;
    
}
.toolbar{
    
    height: 12vh;
    background-color:#2d3436;
    display: flex;
    align-items:center;
    padding-left: 5rem;
}

.filter-container{
    height:60%;
    /* border: 1px solid red; */
    width:16rem;
    margin-right:4rem;
    margin-left:10%;
    border-radius: 0.2rem;
    background-color: #6d7c7e;
    display:flex;
    
    
}
.filter{
    height:100%;

    width:25%;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}

.filter_color{
    height:40%;
    width:40%;
    border-radius: 0.2rem;
}

.pink{
    background-color: rgb(247, 184, 194);
}

.blue{
    background-color: rgb(108, 108, 240);
}

.green{
    background-color: rgb(106, 175, 106);
}

.black{
    background-color: rgb(20, 20, 20);
}
.action-container{
    height:60%;
    /* border: 1px solid red; */
    width:8rem;
    background-color: #6d7c7e;
    border-radius: 0.2rem;
    display: flex;
    border-radius: 0.2rem solid;

}

.icon-container{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.fas{
    font-size: 1.5rem;
    color:white;
}



/* modal foramtting */

.modal_container{
    position:absolute;
    height:18rem;
    width:36rem;
    background-color: brown;
    margin-left:30%;
    left:3vw;
    top:30vh;
    display:flex;
    justify-content: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.698);
}

.input_container{
    height:100%;
    width:73%;
}

.modal_input{
    height: 100%;
    width:100%;
    outline:none;
    padding: 2rem 3rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    /*  line between space */
    line-height: 145%;
    font-weight: 400;
}

.modal_filter_container{
    width:27%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap:2rem; */
    align-items: center;
    padding: 1.7rem 1.2rem;
   }

.modal_filter_container>.filter{
    height: 15%; 
    width:60%
}

.border{
    border:0.2rem solid white;
}
 /* task formatting */
.main-container{
    height: 90vh;
    padding-top: 2rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.task_filter{
    height: 7%;
}
.task_container{
    border: solid black;
    border-width:0.2rem;
    border-radius: 0.2rem;
    margin:0 auto;
    height: 10rem;
    width:16rem;
    background-color: #fff;
}
.task_desc_container{
    padding-left:0.5rem;
}
.task_desc{
    text-align: center;
}
.uid{
    color: #444;
}